# option_settings:
#   aws:elasticbeanstalk:customoption:
#   aws:elasticbeanstalk:application:environment:
#     THEME: flatly
#     AWS_REGION: '`{"Ref" : "AWS::Region"}`'
#     THOUGHTS_TABLE: '`{"Ref" : "ThoughtsTable"}`'
#   aws:elasticbeanstalk:container:nodejs:
#     ProxyServer: nginx
#     NodeCommand: "npm start"
#   aws:elasticbeanstalk:container:nodejs:staticfiles:
#     /static: /static

# option_settings:
#   aws:elasticbeanstalk:container:nodejs:
#     NodeCommand: "npm start"

option_settings:
  # aws:elasticbeanstalk:customoption:
  #   NewSignupEmail: markjnkim@gmail.com
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    # THOUGHTS_TABLE: ebthoughts
    THOUGHTS_TABLE: 

    # NEW_SIGNUP_TOPIC: '`{"Ref" : "NewSignupTopic"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
    NodeCommand: "npm run eb:prod"
  # aws:elasticbeanstalk:container:nodejs:staticfiles:
  #   /public: /public